<h2>Browse</h2>
<h3><%= @directory %> + <a href="/upload/<%= @directory %>">Upload a new file here</a> | <a href="/bulk-upload/<%= @directory %>">Bulk upload</a></h3>

<ul>
   <li>📁 -
      . / <form style="display: inline;" onsubmit="document.location = document.getElementById('dirInput').value + '/'; return false">
         <input placeholder="Create a new directory" id="dirInput">
         <button>+</button>
      </form>
   </li>

   <li>📁 -
      <a href="/browse/<%= @parent_directory %>">
         ..
      </a>
   </li>
<% for @item in @items['common_prefixes'] %>
   <li>📁 -
      <a href="/browse/<%= @item.prefix %>">
         <%= @item.prefix %>
      </a>
      <a href="/delete-dir/<%= @item.prefix %>" style="color: red; margin-left: 10px;">✕ delete</a>
   </li>
<% end %>
<br>
<% for @item in @items['contents'] %>
   <li><%= @item['size'] / 1024 %>K -
      <a href="/view/<%= @item['key'] %>">
         <%= @item['key'] %>
      </a>
      <a href="/delete/<%= @item['key'] %>" style="color: red; margin-left: 10px;">✕ delete</a>
   </li>
<% end %>
</ul>
