<p> Live:
<ul>
   <li>
      Link: <a href="<%= @asset.live.uncached_url %>"><%= @asset.live.url %></a>
   </li>
<% if @asset.live.exists_in_s3? %>
   <li>Size: <%= @asset.live.size / 1024 %>K</li>
   <li>Content-Type: <%= @asset.live.type %></li>
   <li>Last Modified: <%= @asset.live.last_modified %></li>
   <li>Cache-Control: <%= @asset.live.cache_control %></li>
   <li>E-Tag: <%= @asset.live.etag.to_s %></li>
<% else %>
   <li><b>Does not exist in S3!</b></li>
<% end %>
</ul>
</p>
