<h2> View </h2>
<h3><%= @asset.key %></h3>
<a href="/browse/<%= @parent_directory %>">↑ Parent Directory</a>

<%= erb :live_metadata %>
<%= erb :original_metadata %>

<a href="/edit/<%= @asset.key %>">
   <h3>Edit this image</h3>
</a>

<hr>
<h2>Current Live Image:</h2>
<hr>
<img src="<%= @asset.live.uncached_url %>" />
<hr>
<h2>Current Source Image:</h2>
<hr>
<img src="<%= @asset.source.uncached_url %>" />

<script>
   console.log("Did something go wrong?");
   console.log("Visit: https://charge.cominor.com/restore-original/<%= @asset.key %>");
</script>
